{% load static %}
<!-- latest new v1 section-->
<div class="latestnew">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-8">
				<div class="ads">
					<!-- DB -->
					{% for ad in ads %}
					<img src="{% static ad.img_src %}" alt="" width="728" height="106">
					{% endfor %}
				</div>
				<div class="title-hd">
					<h2>Latest news</h2>
				</div>
				<div class="tabs">
				    <div class="tab-content">
				        <div id="tab31" class="tab active">
				            <div class="row">
				            	<div class="blog-item-style-1">
									<!-- DB -->
									{% if latest_news %}
									{% if latest_news.img_src %}
				            		<img src="{% static latest_news.img_src %}" alt="{{ latest_news.img_alt }}" width="{{ latest_news.img_width|default:170 }}" height="{{ latest_news.img_height|default:250 }}">
									{% endif %}
				            		<div class="blog-it-infor">
										<!-- DB -->
				            			<h3><a href="#">{{ latest_news.title }}</a></h3>
				            			<span class="time">{{ latest_news.time }}</span>
				            			<p>{{ latest_news.content }}</p>
				            		</div>
									{% endif %}
				            	</div>
				            </div>
				        </div>				        
				    </div>
				</div>
				<div class="morenew">
					<div class="title-hd">
						<h3>More news on Blockbuster</h3>
						<a href="#" class="viewall">See all Movies news<i class="ion-ios-arrow-right"></i></a>
					</div>
					<div class="more-items">
						<div class="left">
							<!-- DB -->
							{% for n in more_news %}
							{% if forloop.counter0|divisibleby:2 %}
							<div class="more-it">
								<h6><a href="#">{{ n.title }}</a></h6>
								<span class="time">{{ n.time }}</span>
							</div>
							{% endif %}
							{% endfor %}
						</div>
						<div class="right">
							<!-- DB -->
							{% for n in more_news %}
							{% if not forloop.counter0|divisibleby:2 %}
							<div class="more-it">
								<h6><a href="#">{{ n.title }}</a></h6>
								<span class="time">{{ n.time }}</span>
							</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sidebar">					
					<div class="sb-twitter sb-it">
						<h4 class="sb-title">Tweet to us</h4>
						<div class="slick-tw">
							<!--  DB  -->
							{% for tweet in tweets %}
							<div class="tweet item" id="">
								<!-- Put your twiter id here -->
								 {{ tweet.content }}
							</div>
							{% endfor %}
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end of latest new v1 section-->
